<?xml version="1.0" encoding="UTF-8"?>
<server description="Server configuration for PostgreSQL connection">

    <!-- Enable features -->
    <featureManager>
        <feature>jdbc-4.3</feature> <!-- JDBC 4.3 -->
        <feature>beanValidation-3.0</feature> <!-- Bean Validation 3.0 -->
        <feature>mpConfig-3.1</feature>
        <feature>mpHealth-4.0</feature>
        <feature>jakartaee-10.0</feature> <!-- Jakarta EE 10 -->
    </featureManager>

    <keyStore id="defaultKeyStore" password="hola12345" location="/config/keystore.p12" type="PKCS12"/>-->

    <!-- Configuración de SSL en el servicio HTTP -->
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" />

<!--   <httpEndpoint host="*" httpPort="10000" httpsPort="10001" id="defaultHttpEndpoint" />-->

    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" redirectHttpToHttps="true"/>


    <!-- Configuración de conexión a base de datos -->
    <dataSource id="defaultDataSource" jndiName="jdbc/cine"
                type="javax.sql.ConnectionPoolDataSource" transactional="true">
        <jdbcDriver libraryRef="postgresql-library" />

    <properties.postgresql
                user="postgres.cgcrwusuoqvpmhqhxcsn"
                password="sYr7tUBOlvWwRu6H"
                serverName="aws-0-us-east-1.pooler.supabase.com"
                portNumber="6543"
                databaseName="postgres" />

<!--
        <properties.postgresql
                user="cine"
                password="cine"
                databaseName="cine_prn335"
                serverName="db"
                portNumber="5432" />
-->

    </dataSource>

    <library id="postgresql-library">
        <file name="${server.config.dir}/postgresql-42.7.4.jar" />
    </library>

    <!-- Configuración de seguridad -->
    <basicRegistry id="BasicUserRegistry">
        <user name="admin" password="adminPassword"/>
        <user name="cineUser" password="cinePassword"/>
    </basicRegistry>

    <administrator-role>
        <user>admin</user>
    </administrator-role>

<!--    <application id="cine" name="cine" type="war" location="dropins/cine-1.0-SNAPSHOT.war"/>-->

</server>
